.habitProgress {
    opacity: 0.7;
    position: relative;
}

.class1 {
    background-color: lightgreen !important;
}

.class2 {
    background-color: darkorange !important;
}

.class3 {
    background-color: lightcoral !important;
}

.addActivity {
    position: absolute;
    top: 0px;
    right: 0px;
}